@charset "utf-8";

@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700|Roboto:300,400,900&display=swap');

.admin-wrap { width: 100%; min-width: 1300px; font-size: 16px; font-weight: 300; }
.admin-wrap a { color: #444; }
.admin-wrap button { padding: 2px 8px 4px; border-radius: 3px; border: 1px solid #ddd; background: #ddd; color: currentColor; font-size: 12px; font-weight: 400; }
.admin-wrap .cyan { border-color: lightseagreen; background:lightseagreen; color: #fff; }
.admin-wrap .cyan:hover, .admin-wrap .cyan:active, .admin-wrap .cyan:focus { background:darkcyan; border-color: darkcyan; }
.admin-wrap .orange { background: orange; border-color: orange; color: #fff; }
.admin-wrap .orange:hover, .admin-wrap .orange:active, .admin-wrap .orange:focus { background: darkorange; border-color: darkorange; }
.admin-wrap .gray { border-color: #555; background:#555; color: #fff; }
.admin-wrap .gray:hover, .admin-wrap .gray:active, .admin-wrap .gray:focus { background:#111; border-color: #111; }

.login { position: relative; display: flex; height: 100vh; align-items: center; justify-content: center; background-color: #f3f3f4; }
.login .login-box { width: 500px; margin-top: -150px; } 
.login .login-box h2 { font-size: 28px; font-weight: 300; text-align: center; margin-bottom: 30px; font-family: 'Roboto'; color: #222; }
.login .login-box h2 span { font-size: 26px; color: #999; margin-left: 8px; }
.login .login-box > div { width: 400px; margin: 0 auto; background: #fff; border: 1px solid #ddd; border-radius: 10px; padding: 20px; }
.login .login-box > div p { color: #aaa; font-size: 14px; margin-bottom: 20px; text-align: center; }
.login .login-box > div input { width: 100%; font-size: 15px; padding: 10px 12px; margin-bottom: 15px; }
.login .login-box > div input::placeholder { font-size: 13px; font-weight: 900; color: #ddd; }
.login .login-box > div > div { position: relative; }
  .icon-mail { color: #ddd; z-index: 9; position: absolute; top: 10px; right: 12px; width: 21px; height: 15px; border-radius: 1px; border: solid 1px currentColor; background-color: currentColor; }
  .icon-mail:before { content: ''; position: absolute; left: 9px; top: -7px; width: 1px; height: 14px; color: white; background-color: currentColor; -webkit-transform-origin: bottom; transform-origin: bottom; -webkit-transform: rotate(-54deg); transform: rotate(-54deg); }
  .icon-mail:after { content: ''; position: absolute; left: 9px; top: -7px; width: 1px; height: 14px; color: white; background-color: currentColor; -webkit-transform-origin: bottom; transform-origin: bottom; -webkit-transform: rotate(54deg); transform: rotate(54deg); }
  .icon-lock { color: #ddd; position: absolute; top: 17px; right: 15px; width: 17px; height: 11px; border-radius: 2px; border: solid 1px currentColor; background-color: currentColor; }
  .icon-lock:before { content: ''; position: absolute; left: 3px; top: -7px; width: 9px; height: 6px; border-radius: 4px 4px 0 0; border-top: solid 1px currentColor; border-left: solid 1px currentColor; border-right: solid 1px currentColor; }
.login .login-box > div .btn { text-align: right; }
.login .login-box > div a { display: inline-block; padding: 12px 20px; border-radius: 4px; font-size: 14px; letter-spacing: 1px; }


.admin-wrap .layout-c { position: relative; width: 1200px; margin: 0 auto; } 
.admin-wrap input { width: 150px; padding: 4px; border-radius: 3px; font-size: 12px; }
.admin-wrap select { width: auto; padding:3px 4px; border-radius: 3px; font-size: 12px; }
.admin-wrap input[type="checkbox"] { width: auto }

.header { background: #f3f3f4; }
.header h1 { position: relative; padding: 8px 0; }
.header h1 b { margin-left: 27px; }
  .icon-browser { color: #000; position: absolute; margin-left: 2px; width: 15px; height: 15px; border-radius: 50%; border: solid 1px currentColor; background-color: currentColor; vertical-align: middle; }
  .icon-browser:before { content: ''; position: absolute; left: 1px; top: 1px; width: 11px; height: 11px; border-radius: 85% 15%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); color: white; border: solid 1px currentColor; }
  .icon-browser:after { content: ''; position: absolute; top: 6px; left: -1px; width: 15px; height: 1px; color: white; background-color: currentColor; }
.header .admin { position: absolute; right: 0; top: 5px; }
.header .admin p, .header .admin button { display: inline-block; vertical-align: middle; }
.header .admin p { line-height: 20px; font-size: 14px; }
.header .admin p i { color: teal; font-weight: 400; }
.header .admin a { display: inline-block; font-size: 12px; padding: 4px 8px 6px; margin-left: 8px; border-radius: 3px; }

.content { padding: 20px 0; }
.content h2 { position: relative; margin-bottom: 32px; }
.content h2 b { margin-left: 27px; font-size: 20px; }
  .icon-profile { color: #000; position: absolute; margin-left: 3px; margin-top: 11px; width: 14px; height: 6px; border-left: solid 1px currentColor; border-right: solid 1px currentColor; border-top: solid 1px currentColor; border-bottom: solid 1px transparent; border-radius: 6px 6px 0 0; }
  .icon-profile:before { content: ''; position: absolute; left: 2px; top: -10px; width: 8px; height: 8px; border-radius: 50%; border: solid 1px currentColor; }
.content .option-wrap { position: relative; padding: 8px 0; }
.content .option-wrap > * { display: inline-block; vertical-align: middle; }
.content .date-input input { width: 110px; }
.content .date-input > div { display: inline-block; position: relative; color: #777; }
.content .date-input > div:hover, .content .date-input > div:active, .content .date-input > div:focus { color: #111; }
  .icon-calendar { display: inline-block; position: absolute; margin-left: -22px; margin-top: 6px; width: 16px; height: 13px; border: solid 1px currentColor; border-radius: 1px; }
  .icon-calendar:before, .icon-calendar:after, .icon-calendar i:before { content: ''; position: absolute; display: block; }
  .icon-calendar:before { left: 4px; top: -3px; width: 6px; height: 5px; border-left: solid 1px currentColor; border-right: solid 1px currentColor; }
  .icon-calendar:after { left: -1px; top: 3px; width: 16px; height: 1px; background-color: currentColor; }
  .icon-calendar i { display: inline-block; position: absolute; left: 2px; top: 6px; }
  .icon-calendar i:before { width: 10px; height: 3px; border-top: solid 1px currentColor; border-bottom: solid 1px currentColor; } 
.content .btn-excel { text-align: right; padding: 8px 0; }
.content table { width: 100%; text-align: center; border: 1px solid #ddd; border-width: 1px 0 0 1px; font-size: 12px; color: #444; }
.content table tr:hover td, .content table tr:active td, .content table tr:focus td { background: #fafafa; }
.content table th, .content table td { border: 1px solid #ddd; border-width: 0 1px 1px 0; padding: 8px; }
.content table th { background: #f3f3f7; font-size: 14px; font-weight: 400; color: #333; padding-top: 10px; }
.content table td button:first-child { margin-right: 2px; }}
.content .row-wrap { position: relative; }
.content .row-wrap .btn-action { position: absolute; }
.content .row-wrap .btn-action button { font-size: 13px; }
.content .paging { text-align: center; margin: 24px 0; }
.content .paging a { display: inline-block; border: 1px solid #ddd; width: 32px; line-height: 28px; border-radius: 3px; font-size: 12px; vertical-align: middle; }
.content .paging a:hover, .content .paging a:active, .content .paging a:focus, .content .paging a.on { color: #fff; background: mediumturquoise; border-color: mediumturquoise; }
.content .paging a.on { background: cadetblue; border-color: cadetblue; }
.content .arrow-wrap { margin: 0 8px; }
.content .arrow-wrap > a { position: relative; height: 30px; }
  .icon-arrow { position: absolute; left: calc(50% - 2px); top: calc(50% - 4px); width: 8px; height: 8px; border-top: solid 1px currentColor; border-right: solid 1px currentColor; }
  .icon-arrow.arrow2 { left: calc(50% - 4px); top: calc(50% - 4px); }
  .icon-arrow.arrow2:before { content: ''; position: absolute; left: -3px; top: 2px; width: 8px; height: 8px; border-top: solid 1px currentColor; border-right: solid 1px currentColor; } 
  .icon-arrow.left { -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
  .icon-arrow.right { left: calc(50% - 5px); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  .icon-arrow.arrow2.right { left: calc(50% - 3px); }

.content.view table { text-align: left; }
.content.view table th { width: 20%; height: 41px; }
.content.view table th, .view table td { padding-left: 24px; }
.content.view table input { width: 200px; }
.content.view table td span { margin: 0 5px; color: #777; }
.content.view table td span:first-child { margin-left: 0; }
.content.view .row-wrap { text-align: right; margin-top: 48px; }
.content.view .row-wrap button, .content.view .row-wrap a { font-size: 13px; }